[Unit]
Description=Client Innov Biz
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/bin/bash  -c "source $HOME/environment; cd /opt/odoo/innov;  ./odoo-bin --config innov-client/provision/client.innov.biz.odoo.cfg --logfile /var/log/innov/innov-server.log"
KillMode=mixed

[Install]
WantedBy=multi-user.target

