[options]
; This is the password that allows database operations:
admin_passwd = 0x07760f02f05fa7d5137cefff2fe174e98841e71e243df9433900f524
db_host = False
db_port = False
db_user = odoo
db_password = False
db_database = False
addons_path = addons,innov-client

;xmlrpc_port = 8001

